In [9]:
import pandas as pd
import matplotlib.pyplot

In [5]:
storeFronts = pd.read_csv('./csv/Storefronts_Reported_Leased_or_Not_Leased.csv')

In [6]:
storeFronts

,BOROUGH-BLOCK-LOT,PROPERTY STREET ADDRESS OR STOREFRONT ADDRESS,BOROUGH,ZIP CODE,SOLD DATE,LEASED ON 12/31,LEASED ON 6/30 OR DATE SOLD IF EARLIER,PRIMARY BUSINESS ACTIVITY
0,1000010010,1 GOVERNORS ISLAND,MANHATTAN,10004,NaN,NO,NO,NO BUSINESS ACTIVITY IDENTIFIED
1,1000050010,115 BROAD STREET,MANHATTAN,10004,NaN,YES,NO,MEDIA
2,1000050010,115 BROAD STREET,MANHATTAN,10004,NaN,YES,NO,RETAIL
3,1000050010,115 BROAD STREET,MANHATTAN,10004,NaN,NO,NO,FOOD SERVICES
4,1000050010,115 BROAD STREET,MANHATTAN,10004,NaN,YES,NO,EDUCATIONAL SERVICES
...,...,...,...,...,...,...,...,...
75245,5080470031,227 MAIN STREET,STATEN ISLAND,10307,NaN,YES,YES,FOOD SERVICES
75246,5080470031,225 MAIN STREET,STATEN ISLAND,10307,NaN,YES,YES,FOOD SERVICES
75247,5080480075,236 MAIN STREET,STATEN ISLAND,10307,NaN,NO,NO,NOT FOR PROFIT
75248,5080480075,236 MAIN STREET,STATEN ISLAND,10307,NaN,NO,NO,NOT FOR PROFIT
75249,5080480075,236 MAIN STREET,STATEN ISLAND,10307,NaN,NO,NO,NOT FOR PROFIT

In [8]:
storeFronts.shape

(75250, 8)

In [10]:
storeFronts.dtypes

BOROUGH-BLOCK-LOT                                 int64
PROPERTY STREET ADDRESS OR STOREFRONT ADDRESS    object
BOROUGH                                          object
ZIP CODE                                          int64
SOLD DATE                                        object
LEASED ON 12/31                                  object
LEASED ON 6/30 OR DATE SOLD IF EARLIER           object
PRIMARY BUSINESS ACTIVITY                        object
dtype: object

In [20]:
storeFronts.sort_values(by='BOROUGH-BLOCK-LOT').head(20) #first 20 rows of the dataset by borough-block-lot

,BOROUGH-BLOCK-LOT,PROPERTY STREET ADDRESS OR STOREFRONT ADDRESS,BOROUGH,ZIP CODE,SOLD DATE,LEASED ON 12/31,LEASED ON 6/30 OR DATE SOLD IF EARLIER,PRIMARY BUSINESS ACTIVITY
0,1000010010,1 GOVERNORS ISLAND,MANHATTAN,10004,NaN,NO,NO,NO BUSINESS ACTIVITY IDENTIFIED
1,1000050010,115 BROAD STREET,MANHATTAN,10004,NaN,YES,NO,MEDIA
2,1000050010,115 BROAD STREET,MANHATTAN,10004,NaN,YES,NO,RETAIL
3,1000050010,115 BROAD STREET,MANHATTAN,10004,NaN,NO,NO,FOOD SERVICES
4,1000050010,115 BROAD STREET,MANHATTAN,10004,NaN,YES,NO,EDUCATIONAL SERVICES
5,1000070027,30 WATER STREET,MANHATTAN,10004,NaN,YES,YES,FOOD SERVICES
6,1000070028,28 WATER STREET 2ND FLOOR,MANHATTAN,10004,NaN,YES,NO,NO BUSINESS ACTIVITY IDENTIFIED
7,1000070028,28 WATER STREET GROUND FLOOR,MANHATTAN,10004,NaN,YES,YES,NO BUSINESS ACTIVITY IDENTIFIED
8,1000070029,54 PEARL ST,MANHATTAN,10004,NaN,YES,YES,FOOD SERVICES
9,1000070030,54 PEARL ST,MANHATTAN,10004,NaN,YES,YES,FOOD SERVICES
10,1000070031,105 BROAD STREET,MANHATTAN,10004,NaN,YES,YES,RETAIL
11,1000070031,105 BROAD STREET,MANHATTAN,10004,NaN,YES,YES,FOOD SERVICES
12,1000070033,54 PEARL ST,MANHATTAN,10004,NaN,YES,YES,FOOD SERVICES
13,1000070035,54 PEARL ST,MANHATTAN,10004,NaN,YES,YES,FOOD SERVICES
14,1000070037,54 PEARL ST,MANHATTAN,10004,NaN,YES,YES,FOOD SERVICES
15,1000070038,60 PEARL STREET,MANHATTAN,10004,NaN,YES,YES,FOOD SERVICES
19,1000071001,66 PEARL STREET,MANHATTAN,10004,NaN,YES,YES,FOOD SERVICES
18,1000071001,66 PEARL STREET,MANHATTAN,10004,NaN,YES,YES,FOOD SERVICES
16,1000071001,66 PEARL STREET,MANHATTAN,10004,NaN,YES,YES,FOOD SERVICES
17,1000071001,66 PEARL STREET,MANHATTAN,10004,NaN,YES,YES,FOOD SERVICES